@import url("reset.css");
@import url("common.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

.wrapper{
    overflow: clip;
    min-height: 100%;
    
    display: flex;
    flex-direction: column;
}

.wrapper > main{
    flex-grow: 1;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.08;
    color: #6C757D;
}

[class*="__container"]{
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}



/* ------------------------------------------- */
.header {
}
.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 15px;
}
.header__logo{

}


.header__navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.header__menu {
    
}
.menu {
}

.menu__body{

}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 5px;
}
.menu__item {

}

.menu__link {
    color: rgba(73, 80, 87, 0.5);
    transition: color 0.3s; 
    position: relative;
    display: inline-flex;
}

.menu__link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    transition: width 0.3s,left 0.3s;
    border-radius: 2px;
    background-color: #DDBEA9;
}
.menu__link.active{
    color: #000;
    
}
.menu__link.active::before{
    width: 100%;
    left: 0;
}

.menu__item--parent{
    position: relative;
    padding-right: 13px;
}
.menu__item--parent .menu__link{
    
}

.menu__sub-menu {
}





.sub-menu__list{
    background-color: #212529;
    border-radius: 5px;
    padding: 20px;
    color: rgba(248, 249, 250, 0.6);
    min-width: 140px;
}

.sub-menu__item:not(:last-child) {
    margin-bottom: 10px;
}
.sub-menu__link:hover{
    color: #fff;
}
.sub-menu__link {
}
.header__buttons {
    display: flex;
    gap: 25px;
    
}
.header__button {
    z-index: 2;
}
.button-sign{
    color: rgba(73, 80, 87, 0.5);
    padding: 8px 0px;
}
.button-sign:hover{
    text-decoration: underline;
    color: #212529;
}

.button-start{
    padding: 8px 16px;
    color: #F8F9FA;
    background-color: #ddb9a9;
    border-radius: 20px;
    transition: background-color 0.3s;
}
.button-start:hover{
    background-color: #f09781;
}

.menu-icon{
    display: none;
}



@media(min-width:767.98px){
    .sub-menu {
        position: absolute;
        top: 120%;
        left: -25px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s; 
        padding-top: 40px;
        pointer-events: none;
    }
    .menu__item--parent::after{
        content: "";
        position: absolute;
        top: 9px;
        right: 0;
        width: 8px;
        height: 5px;
        background: url('../img/header/check.svg') 0 0 / 100% no-repeat;
    }
}

@media(max-width:767.98px){
    .header__container{
        min-height: 70px;
        /* justify-content: stretch; */
    }
    .header__logo{
        z-index: 3;
    }
    .header__buttons{
        flex: 1 0 auto;
        justify-content: flex-end;
        background-color: #fff;
        z-index: 2;
    }
    .menu__body{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        overflow: auto;
        background-color: #fff;
        padding: 70px 15px 20px 15px;
    }

    .menu__body::before{
        content: "";
        height: 70px;
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #fff;
        z-index: 2;
    }

    .menu-icon{
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 2;
    }
    .menu-icon::before,
    .menu-icon::after,
    .menu-icon span{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        background-color: rgba(73, 80, 87, 0.5);
    }
    .menu-icon::before{
        top: 0;
    }
    .menu-icon::after{
        bottom: 0;
    }
    .menu-icon span{
        top: 50%;
        margin-top: -0.5px;
    }
    
    .menu__list{
        flex-direction: column;
        row-gap: 20px;
    }
    .menu__link{
        font-size: 20px;
        color: #000;
    }
    .sub-menu__list{
        background-color: transparent;
        padding: 10px 0 0 0;
        min-width: 0;
    }
   
   .sub-menu__link{
    color: rgba(73, 80, 87, 0.5);
    font-size: 16px;
   }
   .sub-menu__link:hover{
    color: #000;
}
}

@media(max-width:400px){
    .header__container{
        flex-wrap: wrap;
    }
    .menu__body{
        padding-top: 160px;
    }
    .header__buttons {
        width: 100%;
        gap: 15px;
        position: absolute;
        
        top: 0px;
        left: 0;
        padding: 80px 15px 20px 15px;
        justify-content: space-between;
    }
    .header__button {
        font-size: 16px;
    }
    .button-sign {
        padding-left: 0;
    }
    .button-start {
        padding: 8px 14px;

    }
    .menu-icon{
        
    }
}

/* ------------------------------------------- */

.page__top {
    padding-bottom: 50px;
}
.top__container {
    position: relative;
}
.top__background {
    max-width: 100%;
}
.top__background img{
    width: 100%;
    border-radius: 5px;
}

.top__text{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top__author {
    color: #E5E5E5;
    text-align: center;
    font-weight: 300;
    line-height: 1.6;
}
.top__title {
    text-align: center;
}

@media(max-width:730.98px){
    .top__title{
        font-size: 20px;
    }
}

@media(max-width:600.98px){
    .top__title{
        font-size: 16px;
    }
    .top__text{
        gap: 10px;
    }
}

@media(max-width:470px){
    .top__title{
        font-size: 14px;
    }
    .top__author{

    }
}
@media(max-width:410px){
    .top__title{
        font-size: 12px;
        line-height: 1.5;
    }
    .top__author{
        font-size: 10px;
    }
}


@media(max-width:400.98px){
    .page__top{
        padding-top: 50px;
    }
}

@media(max-width:350px){
    .top__title{
        font-size: 10px;
        line-height: 1.5;
    }
}

/* ------------------------------------------- */

.page__topics {
    padding-top: 50px;
    padding-bottom: 50px;
}
.topics {
}
.topics__container {
}
.topics__body {
    max-width: 1028px;
    margin: 0 auto;
    display: flex;
}
.topics__left-side {
    flex: 0 0 38.910506%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.topics__title {
}


.topics__menu {
}
.menu-topics {
}
.menu-topics__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-topics__item {
}
.menu-topics__link {
    color: #495057;
    position: relative;
    padding-left: 19px;
    display: inline-block;
}
.menu-topics__link::before{
    content: "+";
    position: absolute;
    top: 0;
    left: 0;
    
}

.topics__search {
}
.search {
}
.search__body {
    height: 25px;
    cursor: pointer;
}
.search__label:not(:last-child) {
    padding-right: 22px;
}
.search__label{
    cursor: pointer;
    position: relative;
    top: 2px;
    left: 0;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../img/topic/search.svg") 0 0 no-repeat;
}

.topics__input::placeholder {
    color: rgba(73, 80, 87, 0.5);
}


.topics__right-side {
    flex: 0 0 61.089494%;
    padding-left: 23px;
}
.topics__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.topics__items:not(:last-child){
    margin-bottom: 60px;
}

.topics__item {
    display: flex;
    font-weight: 300;
    line-height: 1.6;
}
.item-topics {
}
.item-topics__image {
    flex: 0 0 47.44%;
    height: 33.06%;
    overflow: hidden;
    position: relative; 
}
.item-topics__image img{
    border-radius: 3px;
    max-width: 100%;
    transition: transform 0.5s; 
}

.item-topics__image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    transition: background-color 0.5s; 
}


.item-topics__wrapper {
    flex: 0 0 52.56%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.item-topics__date {
}
.item-topics__title{
    transition: color 0.3s; 
}
.item-topics__title:hover {
    color: #CCD5AE;
}

.item-topics__link-title {
}
.item-topics__text {
    padding-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;
    
}
.item-topics__text p:not(:last-child){
    margin-bottom: 5px;
}

.item-topics__bottom {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.item-topics__author {
    
}


.item-topics__like {
    background: url(../img/topic/heart.svg) left no-repeat;
    padding-left: 18px;
}
.topics__pages {
}
.pages-topics {
    color: rgba(73, 80, 87, 0.5);
}
.pages-topics__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.pages-topics__link {
    color: rgba(73, 80, 87, 0.5);
    transition: color 0.3s; 
    position: relative;
    display: inline-flex;
}

.pages-topics__link.active::before{
    width: 100%;
    left: 0;
}

.pages-topics__link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    transition: width 0.3s,left 0.3s;
    border-radius: 2px;
    background-color: #DDBEA9;
}


.pages-topics__item {
}
.pages-topics__link {
}

@media(max-width:900.98px){
    .topics__body{
        flex-direction: column;
        gap: 60px;
    }
    .item-topics__image{
        flex: 0 0 33.88%;
    }
    .item-topics__wrapper{
        flex: 0 0 66.12%;
    }
    .topics__right-side{
        padding: 0;
    }
    .pages-topics__list{
        justify-content: center;
    }
}
@media(max-width:600px){
    .topics__item{
        flex-direction: column;
        gap: 20px;
    }
    .item-topics__image{
        margin: 0 auto;
        flex: 1 1 auto;
    }
    .item-topics__wrapper{
        flex: 1 1 auto;
        padding: 0;
    }
    
}


/* ------------------------------------------- */


.footer {
    padding-top: 50px;
}
.footer__wrapper {
    padding: 100px 0;
    background-color: #212529;
}
.footer__container {
}
.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    row-gap: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}
.footer__logo {
    color: #F8F9FA
}
.footer__list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.footer__link{
    
}
.footer__sociables {
    display: flex;
    column-gap: 25px;
}
.footer__sociable{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.footer__bottom {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
}
.footer__position {
    line-height: 1.6;
}
.footer__copy {
    line-height: 1.6;
}

@media(max-width:767.98px){
    .footer__wrapper{
        padding: 50px 0;
    }
    .footer__top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__link{
        font-size: 14px;
    }

    .footer__sociables {
        column-gap: 50px;
    }

    .footer__sociable img{
        scale: 1.5;
    }
}

/* ------------------------------------------- */

/* Page 2 */


.header__socials {
}
.socials-header {
    display: flex;
}
.socials-header__sociables {
    display: flex;
    gap: 25px;
    padding-right: 20px;
    border-right: 1px solid #E5E5E5;
    margin-right: 20px;
}
.socials-header__sociable {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.socials-header__sociable img{

}

.socials-header__search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:767.98px){
    .socials-header{
        flex: 1 0 auto;
        justify-content: flex-end;
        margin-right: 20px;
    }
    .socials-header__sociable img{
        scale: 1.5;
    }
    .socials-header__search{
        scale: 1.5;
    }
}

@media(max-width:400px){
    .socials-header__sociables{
        width: 100%;
        gap: 15px;
        position: absolute;
        top: 0px;
        left: 0;
        padding: 80px 15px 20px 15px;
        justify-content: center;
        gap: 60px;
    }
    
}

/* ------------------------------------------- */


.page__design {
}
.design {
    padding-top: 50px;
    padding-bottom: 50px;
}
.design__container {
}
.design__categories:not(:last-child) {
    margin-bottom: 45px;
}
.categories-design {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    row-gap: 40px;
}
.design__title {
    flex: 0 1 400px;
}
.categories-design__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 10px;
    align-self: flex-end;
    padding-bottom: 11px;
}
.categories-design__item {
}
.categories-design__link {
    color: #C4C4C4;
    transition: color 0.3s;
}
.categories-design__link:hover,
.categories-design__link.active{
    color: #495057;
}

.design__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    row-gap: 40px;
}
.design__column {
    padding: 0 15px;
    flex: 0 0 33.3333%;
}
.design__item {
    display: block;
}
.item-design__image:hover img{
    transform: scale(1.1);
    border-radius: 3px;
}
.item-design__image:not(:last-child) {
    margin-bottom: 30px;
}
.item-design__image{
    overflow: hidden;
    position: relative;
    
}
.item-design__image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    transition: background-color 0.3s; 
}
.item-design__image:hover::before{
    background-color: rgba(0, 0, 0, 0.5);
}

.item-design__image img{
    max-width: 100%;
    transition: transform 0.3s; 
}


.item-design__date:not(:last-child) {
    margin-bottom: 15px;
}
.date {
}
.item-design__title{
    transition: color 0.3s;
}
.item-design__title:hover{
    color: #CCD5AE;
}
.title--medium {
}


@media(max-width:1036px){
    .categories-design{
        flex-direction: column;
    }
    .design__title{
        flex: 1 1 auto;
        max-width: 400px;
        text-align: center;
    }
    .categories-design__list{
        align-self: stretch;
        padding-bottom: 0;
        align-self: center;
        justify-content: center;
    }
    .categories-design__link{
        font-size: 14px;
    }

}


@media(max-width:767.98px){
    .design__column{
        flex: 0 0 50%;
    }
}


@media(max-width:500px){
    .design__items{
        margin: 0;
    }
    .design__column{
        flex: 0 0 100%;
        padding: 0;
    }
    .item-design__image{
        display: flex;
        justify-content: center;
    }
    .item-design__image img{
        width: 100%;
    }
    .categories-design__link{
        font-size: 14px;
    }
}





.page__trending {
}
.trending {
    padding-top: 50px;
    padding-bottom: 50px;
}
.trending__container {
}
.trending__title {
    margin-bottom: 45px;
}

.trending__gallery {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin: 0 -15px;
}
.trending-gallery {
}
.trending-gallery__column {
    padding: 0 15px;
    flex: 0 0 33%;
    position: relative;
}
.trending-gallery__item {
    display: block;
    cursor: pointer;
}
.trending-gallery__image img{
    max-width: 100%;
}
.column--big {
    flex: 0 0 66%;
}
.trending-gallery__text{
    max-width: 74.55%;
    position: absolute;
    bottom: 50px;
    left: 50px;
}


.trending-gallery__text--big{
    max-width: 42.84%;
}

.trending-gallery__date {
    color: #E5E5E5;
}
.trending-gallery__date:not(:last-child){
    margin-bottom: 15px;
}
.trending-gallery__title {
    color: #F8F9FA;
}
.trending-gallery__title:hover{
    text-decoration: underline;
}

.trending-gallery__title--big{
    
}

@media(max-width:991.98px){
    .trending-gallery__title{
        font-size: 14px;   
    }
}

@media(max-width:900px){
    .trending-gallery__text{
        bottom: 30px;
        left: 30px;
    }
}

@media(max-width:850px){
    .trending-gallery__column{
        flex: 0 0 50%;
    }
    .column--big {
        flex: 0 0 100%;
    }
    .trending__gallery{
        
    }
    
}

@media(max-width:650px){
    .trending__gallery{
        row-gap: 15px;
        margin: 0 -8px;
    }
    .trending-gallery__column{
        padding: 0 8px;
    }
}

@media(max-width:570px){
    .trending__gallery{
    }
    .trending-gallery__column{
        flex: 0 0 100%;
    }
    .trending__gallery{
        row-gap: 15px;
        margin: 0px;
    }
    .trending-gallery__column{
        padding: 0px;
    } 
    .trending-gallery__text--big{
        max-width: 74.84%;
    }  
    .trending-gallery__image img{
        width: 100%;
        object-fit: cover;
    }
    .trending-gallery__item{
        
    }
}
.trending-gallery__title{
    
}


@media (any-hover: hover){
    .menu__item:hover .menu__link{
        color: #000;
    }
    .menu__item:hover .menu__link::before{
        width: 100%;
        left: 0;
    }

    .menu__item--parent:hover .sub-menu{
        top: 100%;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        z-index: 2;
    }

    .footer__link:hover{
        color: #F8F9FA;
        text-decoration: underline;
    }
    .menu-topics__link:hover{
        text-decoration: underline;
    }
    .menu-topics__link::before{
        transition: transform 0.3s; 
    }
    .menu-topics__link:hover::before{
        transform: rotate(180deg);
    }
    .pages-topics__link:hover,
.pages-topics__link.active{
    color: #495057;    
}

.pages-topics__link:hover::before,
.pages-topics__link.active::before{
    width: 100%;
    left: 0;
}
.item-topics__image:hover::after{
    background-color: rgba(0, 0, 0, 0.3);
}
.item-topics__author:hover{
    text-decoration: underline;
}
.item-topics__image:hover img{
    transform: scale(1.05);
}
}


