

.title{
    font-size: rem(25);
    line-height: lh(25,40);
    font-weight: 700;
    color: #212529;
}

.title--white{
    color: #F8F9FA;
}

.block-title{
    font-size: rem(25);
    line-height: lh(25,20);
    font-weight: 500;
    color: #495057;
}

.article-title{
    font-size: rem(16);
    line-height: lh(16,25);
    font-weight: 500;
    color: #212529;

}

.block-title--white{
    color: #F8F9FA;
}